---
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  colorText?: string;
  height?: string;
  width?: string;
  moreStyles?: string;
}

const { title, body, colSpan, rowSpan, href, colorText, height, moreStyles } =
  Astro.props;
---

<div
  class={`card group overflow-hidden bg-darkslate-500 shadow-lg rounded-lg border border-darkslate-100 hover:border-primary-500 align-start flex flex-col justify-start relative transform transition duration-75 ease-in-out w-full ${colSpan || "md:col-span-2"} ${rowSpan || ""} ${moreStyles}`}
  style={{
    height: "auto",
    zIndex: 999,
    padding: "1rem",
  }}
>
  {
    href ? (
      <a href={href} class={`h-full w-full ${colorText || " "}`}>
        <Content title={title} body={body}>
          <slot />
        </Content>
      </a>
    ) : (
      <Content title={title} body={body}>
        <slot />
      </Content>
    )
  }
</div>
